.code-box {
    background-color: #f5f2f0;
    margin-top: 40px;
    border-radius: 10px;
    width: 50%;
    height: 100px;
}

.reserved-word {
    color: #c36358;
}

.native-function {
    color: #42a4f5;
}

.operator {
    color: #f5b942;
}

.function {
    color: green;
}  

.string {
    color: #bde052;
}