@import 'variables.module';

// Fontes 
@import 'fonts.module';


// Seletores

$dark-mode: false;

* {
  margin: 0;
}

html { 
  padding: 0; 
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: $bg-color;
}

a {
  color: $secondary-font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

code {
  margin-left: 5px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
}

.title {
  font-family: 'Roboto', sans-serif;
  color: $primary-font-color;
  margin: 0;
  margin-top: 15px;
  font-size: 4em;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  margin-top: 15px;
  color: #CCCCCC;
  font-size: 1em;
}

#dark-mode-toggle-checkbox {
  position: absolute;
  transform: scale(3);
  top: 90.5%;
  left: 94.5%;
}

#content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.circle-radius {
  border-radius: 100%;
}

.centered {
  text-align: center;
}

.no-margin {
  margin: 0;
}

@media (max-width: 576px) {
  #dark-mode-toggle-checkbox {
    transform: scale(2) !important;
    left: 92% !important;
  }
}