@import 'variables.module';

// Fontes 

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


// Seletores

* {
  margin: 0;
}

html, body {
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: $bg-color;
}

a {
  color: $secondary-font-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.title {
  margin: 0;
  margin-top: 15px;
  font-size: 4em;
}

.subtitle {
  margin: 0;
  margin-top: 15px;
  color: #CCCCCC;
  font-size: 1em;
}

.circle-radius {
  border-radius: 100%;
}

.centered {
  text-align: center;
}

.no-margin {
  margin: 0;
}

